<div class="container my-4">
    <div class="register shadow rounded p-5">
       <div class="log">
          <h1 class="text-center">Resister now:</h1>
           <form [formGroup]="registrationForm" (ngSubmit)="signUp(registrationForm)">
              <label> name:</label>
              <input formControlName="displayName" type="text" class="form-control">
              <p *ngIf="registrationForm.get('displayName')?.getError('required')&&registrationForm.get('displayName')?.touched" class="text-danger">please fill out this field</p>
              <p *ngIf="registrationForm.get('displayName')?.getError('minlength')" class="text-danger">min length is 3</p>
              <p *ngIf="registrationForm.get('displayName')?.getError('maxlength')" class="text-danger">max length is 30</p>
              <label> email:</label>
               <input formControlName="email" type="email" class="form-control">
               <p *ngIf="registrationForm.get('email')?.getError('required')&&registrationForm.get('email')?.touched" class="text-danger">please fill out this field</p>
               <p *ngIf="registrationForm.get('email')?.getError('email')" class="text-danger">please write correct email</p>
               <label> phone:</label>
               <input formControlName="phoneNumber" type="tel" class="form-control"> 
                <p *ngIf="registrationForm.get('phoneNumber')?.getError('required')&&registrationForm.get('phoneNumber')?.touched" class="text-danger">please fill out this field</p>
                <p *ngIf="registrationForm.get('phoneNumber')?.getError('pattern')" class="text-danger">please write correct phone number </p>
                <label> password:</label>
                <div class="position-relative"> 
                   <input formControlName="password" [type]="changeType?'password':'text'" class="form-control">
                 <span class='position-absolute top-50 end-0  me-2 translate-middle-y cursor-pointer' (click)="viewPass()">
                    <i [ngClass]="visible?'fa-solid fa-eye':'fa-solid fa-eye-slash'"></i>
                 </span>
                </div>
                <p *ngIf="registrationForm.get('password')?.getError('required')&&registrationForm.get('password')?.touched" class="text-danger">please fill out this field</p>
                <p *ngIf="registrationForm.get('password')?.getError('pattern')" class="text-danger">password must start with capital letter and @ and between 8 - 16 character</p>
              <label> age:</label>
              <input formControlName="age" type="number" class="form-control"> 
               <p *ngIf="registrationForm.get('age')?.getError('required')&&registrationForm.get('age')?.touched" class="text-danger">please fill out this field</p>
               <p *ngIf="registrationForm.get('age')?.getError('pattern')" class="text-danger">please write correct min age 18 </p>
              <label> carNumber:</label>
              <input formControlName="carNumber" type="text" class="form-control"> 
               <p *ngIf="registrationForm.get('carNumber')?.getError('required')&&registrationForm.get('carNumber')?.touched" class="text-danger">please fill out this field</p>
              <div class="d-flex justify-content-end pt-3">
                 <button *ngIf="!loading else loader" class="btn bg-main">Resister</button>
              </div>
              <h2 class="text-center">{{apiResponse}}</h2>
              <ng-template #loader>
                <button class="btn bg-main">
                   <i class="fa-solid fa-spinner fa-spin"></i>  
                </button>
              </ng-template>
           </form>
       </div> 
    </div>
    </div>
    
